* {
	font-family: sans-serif;
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
	margin: 0 auto;

}

.container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 30px;
}

.main {
	flex: 1 1 auto;
	padding-bottom: 100px;
}

a {
	text-decoration: none;
	color: #008CF0;
}

a:hover {
	color: #F36223;
}

a:active {
	color: #A93A09;
}

:is(.header__logo, footer) span {
	color: #F36223;
}

button {
	padding: 8px 12px;
	border: none;
	border-radius: 4px;
	cursor: pointer;

}

input[type=checkbox],
input[type=radio] {
	display: none;
}

p {
	margin: 16px 0;
}

ul {
	padding: 0 15px;
}

/* header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-height: 80px;
	z-index: 1;
	background: #F2F2F2;
	border-bottom: 1px solid #010541;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.header__heart {
	margin-right: 28px;
	position: relative;
}

.header__heart svg {
	width: 44px;
	height: 35px;
	fill: #888888;
}

.header__heart svg:hover {
	fill: #F36223;
}
.header__heart svg:active {
	fill: #A93A09;
}

.header__heart__counter {
	position: absolute;
	padding: 3px 6px;
	top: -3px;
	right: -8px;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	color: white;
	background: #F36223;
	border-radius: 50px;
}

.cart {
	position: relative;
}

.cart__counter {
	position: absolute;
	padding: 3px 6px;
	top: -5px;
	right: -8px;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	color: white;
	background: #F36223;
	border-radius: 50px;
}


.header__logo h1::before {
	content: url('/img/apple-touch-icon.png');
	vertical-align: sub;
	padding: 0 7px 0 0;
}

.header__logo {
	margin-right: auto;
	padding: 18px 0 19px;
}

.header__logo h1 {
	font-size: 44px;
	line-height: 53px;
	margin: 0;
}

/* breadcrumbs */
.breadcrumbs {
	line-height: 19px;
	padding: 118px 0 8px 0;
}

.breadcrumbs__links:not(:last-child)::after {
	content: ">";
	color: #000000;
}

/* main */

.main__content {
	display: flex;
	flex-direction: row;
	gap: 110px;
}

.main__title {
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
}

.main__img {
	margin: 0 0 10px 0;
}

.main__img img {
	height: 400px;
	;
}

/* content */
.content__title {
	margin: 0 0 15px 0;
}

.content__buttons {
	display: flex;
	gap: 10px;
}

.content__btn label {
	cursor: pointer;
}

.content__btn {
	display: flex;
	width: 80px;
	height: 80px;
	border: 1px solid #888888;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
}

.content__btn:hover {
	background: #F2F2F2;
}

input:checked+.content__btn {
	border: 2px solid #F36223;
}

.content__btn:active {
	border: 2px solid #A93A09;
}

.content__btns {
	display: flex;
	width: 92px;
	height: 39px;
	border: 1px solid #888888;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
}

.content__btns:hover {
	background: #F2F2F2;
}

input:checked+.content__btns {
	border: 2px solid #F36223;
}

.content__btns:active {
	border: 2px solid #A93A09;
}


/* spec */
li:not(:last-child) {
	padding: 0 0 10px 0;
}

li::marker {
	color: #888888;
}

/* table */

.table__string:hover {
	background: #F2F2F2;
}

/* reviews */

.review {
	padding-bottom: 60px;
}

.review__title {
	display: flex;
	gap: 10px;
	align-items: center;
}


.review__title p {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #aaaaaa;
}

.review__content {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.review__photo img {
	width: 140px;
	height: 140px;
}

.review__content:not(:last-child) {
	border-bottom: 1px dashed #989898;
	padding-bottom: 40px;
}

.review__content:not(:first-child) {
	padding-top: 40px;
}

/* feedback */
.feedback {
	padding: 0 0 0 155px;
	position: relative;
}

.feedback__title {
	margin: 0;
	padding: 0 0 15px 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}

.form__text {
	width: 495px;
	height: 44px;
	padding: 15px 20px;
	margin: 0 40px 0 0;
	border: 1px solid #888888;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

.form__number {
	width: 175px;
	height: 44px;
	padding: 15px 20px;
	border: 1px solid #888888;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

.text__error {
	display: none;
	position: absolute;
	width: 495px;
	height: 44px;
	padding: 12px 20px;
	margin: 0 40px 0 0;
	background: #F36223;
	border: 1px solid #F36223;
	color: white;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
}

.number__error {
	display: none;
	position: absolute;
	right: 41px;
	width: 175px;
	height: 44px;
	padding: 3px 20px;
	background: #F36223;
	border: 1px solid #F36223;
	color: white;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
}

.textarea {
	box-sizing: border-box;
	display: block;
	width: 715px;
	height: 190px;
	margin: 44px 0 30px;
	padding: 0 20px 130px 20px;
	border: 1px solid #888888;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

.form__text:hover,
.form__number:hover,
.textarea:hover {
	border: 1px solid #000000;
}

.feedback__button {
	display: block;
	padding: 10px 20px;
	color: #FFFFFF;
	background: #F36223;
	border-radius: 4px;
	cursor: pointer;
}

.feedback__button:hover {
	background: #DA4A0C;
}

.feedback__button:active {
	background: #A93A09;
}

.feedback__button:active {
	background: #A93A09;
}

.feedback__button::before {
	content: url('../img/cart.svg');
	vertical-align: middle;
	padding-right: 10px;
}

/* ads */
.important {
	position: relative;
	margin: 0 0 40px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.important div {
	padding: 20px;
}

.important__discount {
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #888888;
}

.important__discount s {
	padding: 0 10px 10px 0;
}

.important__span {
	padding: 4px 8px;
	background: #F36223;
	border-radius: 50px;
	color: #FFFFFF;
}

.important__price {
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
}

.important__button {
	padding: 20px 72px;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	background: #F36223;
	margin: 10px 0 0 0;
}

.important__button:hover {
	background: #DA4A0C;
}

.important__button:active {
	background: #A93A09;
}

.important__button::before {
	content: url('../img/cart.svg');
	vertical-align: middle;
	padding-right: 10px;
}

/* heart */

.heart {
	position: absolute;
	top: 10px;
	right: 0;
}

.heart__btn {
	width: 30px;
	height: 30px;
	fill: #888888;
}

.heart__btn:hover {
	fill: #F36223;
}

.heart__btn:active {
	fill: #A93A09;
}


/* ads */
.ads p {
	font-size: 14px;
	line-height: 17px;
	color: #888888;
}

iframe {
	border: 1px dashed #ccc;
	width: 420px;
	height: 300px;
	background: #F0F0F0;
}

iframe:not(:last-child) {
	margin: 0 0 15px 0;
}


/* footer */
.footer {
	background: #F2F2F2;
}

.footer__content {
	padding: 30px 0;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__content p {
	margin: 0;
}


@media screen and (max-width: 1498px) {
	.container {
		width: 1024px;
		padding: 0 10px;
	}

	/* main */
	.main {
		padding-bottom: 80px;
	}

	.main__img img {
		height: 272px;
		;
	}

	/* comparison */
	.comparison {
		display: none;
	}

	/* content */
	.content__specifications {
		max-width: 540px;
	}

	/* review */
	.raiting {
		height: 20px;
	}

	.review__photo img {
		width: 100px;
		height: 100px;
	}

	/* feedback */
	.feedback {
		padding: 0;
	}

	.form__text {
		width: 320px;
	}

	.textarea {
		width: 540px;
	}

	/* ads */
	.important {
		max-width: 360px;
	}

	.important__button {
		padding: 20px 45px;
	}

	iframe {
		width: 360px;
	}
}
